@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    color: white;
}
li{
    list-style: none;
}
.page{
    width: 100%;
    min-height: 100vh;
}
.one8{
    position: fixed;
    top: 30vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    /* z-index: 10; */
}
.sidebar{
    position: fixed;
    left: -90px;
    top: 40vh;
    rotate: 90deg;
}
.card-shadow{
  box-shadow: 0px 3px 15px 0px rgba(255, 217, 0, 0.462);
}
.card{
    height: 24rem;
    width: 17rem;
    /* border-radius: 1rem; */
    overflow: hidden;
    background-color: aqua;
}
.card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.leftBorderRadius{
    border-radius: 0rem 5rem 0rem 5rem;
}
.centerBorderRadius{
    border-radius: 10rem;
}
.rightBorderRadius{
    border-radius: 5rem 0rem 5rem 0rem;
}
.PositionCenter{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.scrollAnimation{
    animation: appear ease-in ;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.scrollAnimation2nd{
    animation: appear2nd ease-in ;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.scrollAnimation3rd{
  animation: appear3rd ease-in ;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
  }
  
  /* .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  } */
  
  /* .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  } */
  
  /* .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  } */
  
  /* .logos:hover .logos-slide {
    animation-play-state: paused;
  } */
  
  .logos-slide {
    display: inline-block;
    animation: 20s slide infinite linear;
  }
  
  @keyframes appear {
    from{
        opacity: 0;
        /* scale: 0.5; */
        transform: translateX(-40%);
        /* clip-path: inset(100% 100% 0 0); */
        /* rotate: 10deg; */
    }
    to{
        opacity: 1;
        /* scale: 1; */
        transform: translateX(0%);
        /* clip-path: inset(0 0 0 0); */
        /* rotate: 0deg; */
    }
}
@keyframes appear3rd {
  from{
      opacity: 0;
      /* scale: 0.5; */
      transform: translateX(40%);
      /* clip-path: inset(100% 100% 0 0); */
      /* rotate: 10deg; */
  }
  to{
      opacity: 1;
      /* scale: 1; */
      transform: translateX(0%);
      /* clip-path: inset(0 0 0 0); */
      /* rotate: 0deg; */
  }
}
.resto::-webkit-scrollbar{
  width: 0px;
}

@keyframes appear2nd {
    from{
        opacity: 0;
        scale: 0.5;
        /* transform: translateX(-100%); */
        /* clip-path: inset(100% 100% 0 0); */
        /* rotate: 10deg; */
    }
    to{
        opacity: 1;
        scale: 1;
        /* transform: translateX(0%); */
        /* clip-path: inset(0 0 0 0); */
        /* rotate: 0deg; */
    }
}
/* @media (min-width:1440px) {
    html{
        font-size: 120%;
    }
} */
@media (max-width:640px) {
  html{
      font-size: 80%;
  }
}

/* @media (min-width:1650px) {
    html{
        font-size: 150%;
    }
} */